.container {
    width: 100dvw;
    height: 100dvh;
    background-color: whitesmoke;
}

.wrapper {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 30%;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 15px;
}

@media only screen and (max-width: 900px) {
    .auth-container {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .auth-container {
        width: 90%;
    }
}

.page-title {
    font-weight: 900;
    letter-spacing: 4px;
}

.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.form-container input {
    width: 80%;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    border: rgb(204, 204, 204) 1px solid;
}

.form-container .error-message {
    width: 80%;
    font-size: 0.8rem;
    color: red;
    font-weight: 500;
}

.form-container input:focus {
    outline: none;
}

.button-submit {
    background-color: rgb(27, 83, 238);
    border: none;
    width: 80%;
    border-radius: 10px;
    padding: 0.8rem 0;
    cursor: pointer;
    color: white;
    margin-top: 1rem;
}

.redirect {
    font-size: 0.8rem;
}
